/* Mobile */
@media (max-width: 740px){
    html{
        margin: 0;
        padding: 0;
    }
    .container{
        width:90%;
        padding: 0;
        margin-top: 3rem;
        margin-left: 5%;

    }

    .playlist{

        height:  50vh;

    }

}